.App {
  text-align: center;
}

.teams {
  display: flex;
  justify-content: center;
}

.team {
  margin: 5px;
  padding: 10px;
  border-radius: 5%;
  border: 1px solid black;
}

.form {
  margin: 10px;
}

.submitButton {
  margin: 15px;
}

label {
  padding: 5px;
}
